@use "../util/" as *;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
}

body {
  font-family: $main-font;
  text-align: center;
  background: rgba(235, 235, 235, 0.9);
}

header {
  padding: 15px 5px 5px;
}
